#currency-converter {
    max-width: 600px;
    width: 100%;
    margin: 12px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-bottom: 12px;
}

.converter-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
}

.converter-input label {
    font-weight: 500;
}